<h1><%= title %></h1>
<p>
  <strong>Author: </strong>
  <a href="<%= encodeURI(book.author.url) %>"><%= book.author.name %></a>
</p>
<p><strong>Summary: </strong><%= book.summary %></p>
<p><strong>ISBN: </strong><%= book.isbn %></p>
<p><strong>Genre: </strong></p>
<% (book.genre).forEach((element, index) => { %>
<a href="<%= encodeURI(element.url) %>"><%= element.name %></a>
<% if (index < book.genre.length-1) { %> ,&nbsp; <% } %> <% }) %>

<div style="margin-left: 20px; margin-top: 20px">
  <h2 style="font-size: 1.5rem">Copies</h2>
  <% (book_instances).forEach(element => { %>
  <hr />
  <% if (element.status == "Available") { %>
  <p class="text-success"><%= element.status %></p>
  <% } else if (element.status == "Maintenance"){ %>
  <p class="text-danger"><%= element.status %></p>
  <% } else { %>
  <p class="text-warning"><%= element.status %></p>
  <% } %>
  <p><strong>Imprint: </strong> <%= element.imprint %></p>
  <% if (element.status != "Available") { %>
  <p><strong>Due back: </strong><%= element.due_back %></p>
  <% } %>
  <p>
    <strong>Id: </strong
    ><a href="<%= encodeURI(element.url) %>"><%= element._id %></a>
  </p>

  <% }) %> <% if (book_instances.length === 0) { %>
  <p>There are no copies of this book in the library.</p>
  <% } %>
</div>
